@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: rgb(249, 243, 239);
  color: rgb(27, 60, 83);
  font-family: Inter, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
}
